@model IEnumerable<Norget.Models.Usuario>

@{
    ViewData["Title"] = "PainelUsuario";
}

<br />
<p>
    <a asp-controller="Home" asp-action="CadastroUsuario">Cadastra Usuario</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeCli)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailCli)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SenhaCli)
            </th>
            <th>Ação</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeCli)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmailCli)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SenhaCli)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Editar", new { id = item.Id }) |
                    @Html.ActionLink("Excluir", "Excluir", new { id = item.Id },
                             new { onclick = "return confirm('Deseja realmente Excluir este item?');" })
                </td>
            </tr>
        }
    </tbody>
</table>@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
